In [1]:
import pandas as pd

In [100]:
df = pd.read_csv('eth_daily.csv')
df

,unix,date,symbol,open,high,low,close,Volume USD,Volume ETH
0,1641168000000,2022-01-03 00:00:00,ETH/USD,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109
1,1641081600000,2022-01-02 00:00:00,ETH/USD,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668
2,1640995200000,2022-01-01 00:00:00,ETH/USD,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266
3,1640908800000,2021-12-31 00:00:00,ETH/USD,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285
4,1640822400000,2021-12-30 00:00:00,ETH/USD,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371
...,...,...,...,...,...,...,...,...,...
2122,1457827200,2016-03-13 00:00:00,ETH/USD,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000
2123,1457740800,2016-03-12 00:00:00,ETH/USD,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000
2124,1457654400,2016-03-11 00:00:00,ETH/USD,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000
2125,1457568000,2016-03-10 00:00:00,ETH/USD,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000
2126,1457481600,2016-03-09 00:00:00,ETH/USD,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000

In [101]:
# iterate through all closing prices
# calculate different between prices in percentage
# data = df.iloc[0]["close"]
data = df.reindex(index = df.index[::-1])
temp_list = []
for i in range(0,2127):
    temp_list.append(i)
    
data["index"] = temp_list

In [102]:
data

,unix,date,symbol,open,high,low,close,Volume USD,Volume ETH,index
2126,1457481600,2016-03-09 00:00:00,ETH/USD,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,0
2125,1457568000,2016-03-10 00:00:00,ETH/USD,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,1
2124,1457654400,2016-03-11 00:00:00,ETH/USD,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,2
2123,1457740800,2016-03-12 00:00:00,ETH/USD,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,3
2122,1457827200,2016-03-13 00:00:00,ETH/USD,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,4
...,...,...,...,...,...,...,...,...,...,...
4,1640822400000,2021-12-30 00:00:00,ETH/USD,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,2122
3,1640908800000,2021-12-31 00:00:00,ETH/USD,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,2123
2,1640995200000,2022-01-01 00:00:00,ETH/USD,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,2124
1,1641081600000,2022-01-02 00:00:00,ETH/USD,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,2125
0,1641168000000,2022-01-03 00:00:00,ETH/USD,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,2126

In [103]:
data.set_index('index', inplace=True)
data

,unix,date,symbol,open,high,low,close,Volume USD,Volume ETH
index,,,,,,,,,
0,1457481600,2016-03-09 00:00:00,ETH/USD,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000
1,1457568000,2016-03-10 00:00:00,ETH/USD,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000
2,1457654400,2016-03-11 00:00:00,ETH/USD,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000
3,1457740800,2016-03-12 00:00:00,ETH/USD,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000
4,1457827200,2016-03-13 00:00:00,ETH/USD,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000
...,...,...,...,...,...,...,...,...,...
2122,1640822400000,2021-12-30 00:00:00,ETH/USD,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371
2123,1640908800000,2021-12-31 00:00:00,ETH/USD,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285
2124,1640995200000,2022-01-01 00:00:00,ETH/USD,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266
2125,1641081600000,2022-01-02 00:00:00,ETH/USD,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668
2126,1641168000000,2022-01-03 00:00:00,ETH/USD,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109

In [104]:
closing_prices = data.iloc[0:len(data.index)]['close']  
closing_prices

index
0         11.200000
1         11.750000
2         11.950000
3         12.920000
4         15.070000
           ...
2122    3710.000000
2123    3678.200000
2124    3767.100000
2125    3830.600000
2126    3813.016312
Name: close, Length: 2127, dtype: float64

In [105]:
percentage_changes = []
for i in range(1,len(closing_prices)):
    quotient = (closing_prices[i]-closing_prices[i-1])/closing_prices[i-1]
    percentage_change = quotient*100
    percentage_changes.append(percentage_change)

In [106]:
percentage_changes.insert(0,0)

In [107]:
data["prcntg_chg"] = percentage_changes

In [108]:
data

,unix,date,symbol,open,high,low,close,Volume USD,Volume ETH,prcntg_chg
index,,,,,,,,,,
0,1457481600,2016-03-09 00:00:00,ETH/USD,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,0.000000
1,1457568000,2016-03-10 00:00:00,ETH/USD,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,4.910714
2,1457654400,2016-03-11 00:00:00,ETH/USD,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,1.702128
3,1457740800,2016-03-12 00:00:00,ETH/USD,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,8.117155
4,1457827200,2016-03-13 00:00:00,ETH/USD,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,16.640867
...,...,...,...,...,...,...,...,...,...,...
2122,1640822400000,2021-12-30 00:00:00,ETH/USD,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,2.263017
2123,1640908800000,2021-12-31 00:00:00,ETH/USD,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,-0.857143
2124,1640995200000,2022-01-01 00:00:00,ETH/USD,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,2.416943
2125,1641081600000,2022-01-02 00:00:00,ETH/USD,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,1.685647
2126,1641168000000,2022-01-03 00:00:00,ETH/USD,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,-0.459032

In [109]:
data.to_csv('eth_daily_edited.csv', index=False)

In [110]:
testing = pd.read_csv('btc_daily_edited.csv')
testing

,unix,symbol,open,high,low,close,Volume USD,Volume BTC,prcntg_chg
0,1423440000,BTC/USD,224.220000,225.000000,215.400000,220.61,6.493501e+06,29625.030000,0.000000
1,1423526400,BTC/USD,220.610000,223.880000,214.000000,220.96,6.402351e+06,29268.950000,0.158651
2,1423612800,BTC/USD,220.960000,224.400000,218.100000,219.19,4.268987e+06,19289.280000,-0.801050
3,1423699200,BTC/USD,219.190000,223.200000,217.870000,222.60,2.468883e+06,11190.650000,1.555728
4,1423785600,BTC/USD,222.390000,241.760000,221.460000,236.00,6.806973e+06,29079.110000,6.019766
...,...,...,...,...,...,...,...,...,...
2516,1640822400000,BTC/USD,46464.000000,47911.000000,45947.000000,47156.00,1.507962e+08,3197.815105,1.487141
2517,1640908800000,BTC/USD,47148.000000,48650.000000,45664.143622,46218.00,1.965381e+08,4252.414202,-1.989142
2518,1640995200000,BTC/USD,46209.000000,47957.000000,46203.000000,47747.00,1.039613e+08,2177.337470,3.308235
2519,1641081600000,BTC/USD,47746.000000,48012.000000,46648.000000,47302.00,8.725996e+07,1844.741551,-0.931996
2520,1641168000000,BTC/USD,47304.235105,47305.372199,47159.908335,47186.00,9.670387e+05,20.494186,-0.245233

In [79]:
min(percentage_changes)

-38.853894800240916