In [25]:
import pandas as pd
import numpy as np

In [26]:
eth_data = pd.read_csv('eth_daily_edited.csv')
eth_data.drop('symbol', inplace=True, axis=1)
eth_data.drop('unix', inplace=True, axis=1)
eth_data.to_csv('eth_daily_data.csv')

In [27]:
eth_data

,date,open,high,low,close,Volume USD,Volume ETH,prcntg_chg
0,2016-03-09 00:00:00,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,0.000000
1,2016-03-10 00:00:00,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,4.910714
2,2016-03-11 00:00:00,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,1.702128
3,2016-03-12 00:00:00,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,8.117155
4,2016-03-13 00:00:00,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,16.640867
...,...,...,...,...,...,...,...,...
2122,2021-12-30 00:00:00,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,2.263017
2123,2021-12-31 00:00:00,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,-0.857143
2124,2022-01-01 00:00:00,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,2.416943
2125,2022-01-02 00:00:00,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,1.685647
2126,2022-01-03 00:00:00,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,-0.459032

In [28]:
temp_list = []
temp = eth_data['prcntg_chg']

for i in temp:
    temp_list.append(i)
    
temp_list.append(0)
del temp_list[0]
eth_data['pg_change_tomorrow'] = temp_list

In [29]:
eth_data

,date,open,high,low,close,Volume USD,Volume ETH,prcntg_chg,pg_change_tomorrow
0,2016-03-09 00:00:00,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,0.000000,4.910714
1,2016-03-10 00:00:00,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,4.910714,1.702128
2,2016-03-11 00:00:00,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,1.702128,8.117155
3,2016-03-12 00:00:00,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,8.117155,16.640867
4,2016-03-13 00:00:00,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,16.640867,-17.053749
...,...,...,...,...,...,...,...,...,...
2122,2021-12-30 00:00:00,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,2.263017,-0.857143
2123,2021-12-31 00:00:00,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,-0.857143,2.416943
2124,2022-01-01 00:00:00,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,2.416943,1.685647
2125,2022-01-02 00:00:00,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,1.685647,-0.459032
2126,2022-01-03 00:00:00,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,-0.459032,0.000000

In [30]:
eth_data.drop('prcntg_chg', inplace = True, axis=1)

### Counting number of occurences for various percentage changes
#### Since daily percentage change of crypto wont always exceed 2% - getting idea of how many trades would we would make

In [31]:
# Number of times percentage changes occur
# 2% 4% 10%   -2% -4% -10%
test_df = eth_data['pg_change_tomorrow']

temp_dict = {1:0, 2: 0, 4:0, 10:0}
for i in test_df:
    if i > 1 and i<=2:
        temp_dict[1] += 1
    if i > 2 and i<=4:
        temp_dict[2] += 1
    if i > 4 and i<=10:
        temp_dict[4] += 1
    if i > 10:
        temp_dict[10] += 1
        
temp_dict2 = {-1:0,-2: 0, -4:0, -10:0}
for i in test_df:
    if i < -1 and i>=-2:
        temp_dict2[-1] += 1
    if i < -2 and i>=-4:
        temp_dict2[-2] += 1
    if i < -4 and i>=-10:
        temp_dict2[-4] += 1
    if i < -10:
        temp_dict2[-10] += 1

In [32]:
print(temp_dict)
print(temp_dict2)

{1: 180, 2: 245, 4: 321, 10: 101}
{-1: 219, -2: 253, -4: 261, -10: 65}

In [33]:
dates_list = eth_data['date'].tolist()
dates_list

['2016-03-09 00:00:00',
 '2016-03-10 00:00:00',
 '2016-03-11 00:00:00',
 '2016-03-12 00:00:00',
 '2016-03-13 00:00:00',
 '2016-03-14 00:00:00',
 '2016-03-15 00:00:00',
 '2016-03-16 00:00:00',
 '2016-03-17 00:00:00',
 '2016-03-18 00:00:00',
 '2016-03-19 00:00:00',
 '2016-03-20 00:00:00',
 '2016-03-21 00:00:00',
 '2016-03-22 00:00:00',
 '2016-03-23 00:00:00',
 '2016-03-24 00:00:00',
 '2016-03-25 00:00:00',
 '2016-03-26 00:00:00',
 '2016-03-27 00:00:00',
 '2016-03-28 00:00:00',
 '2016-03-29 00:00:00',
 '2016-03-30 00:00:00',
 '2016-03-31 00:00:00',
 '2016-04-01 00:00:00',
 '2016-04-02 00:00:00',
 '2016-04-03 00:00:00',
 '2016-04-04 00:00:00',
 '2016-04-05 00:00:00',
 '2016-04-06 00:00:00',
 '2016-04-07 00:00:00',
 '2016-04-08 00:00:00',
 '2016-04-09 00:00:00',
 '2016-04-10 00:00:00',
 '2016-04-11 00:00:00',
 '2016-04-12 00:00:00',
 '2016-04-13 00:00:00',
 '2016-04-14 00:00:00',
 '2016-04-15 00:00:00',
 '2016-04-16 00:00:00',
 '2016-04-17 00:00:00',
 '2016-04-18 00:00:00',
 '2016-04-19 00:00:00',
 '2016-04-20 00:00:00',
 '2016-04-21 00:00:00',
 '2016-04-22 00:00:00',
 '2016-04-23 00:00:00',
 '2016-04-24 00:00:00',
 '2016-04-25 00:00:00',
 '2016-04-26 00:00:00',
 '2016-04-27 00:00:00',
 '2016-04-28 00:00:00',
 '2016-04-29 00:00:00',
 '2016-04-30 00:00:00',
 '2016-05-01 00:00:00',
 '2016-05-02 00:00:00',
 '2016-05-03 00:00:00',
 '2016-05-04 00:00:00',
 '2016-05-05 00:00:00',
 '2016-05-06 00:00:00',
 '2016-05-07 00:00:00',
 '2016-05-08 00:00:00',
 '2016-05-09 00:00:00',
 '2016-05-10 00:00:00',
 '2016-05-11 00:00:00',
 '2016-05-12 00:00:00',
 '2016-05-13 00:00:00',
 '2016-05-14 00:00:00',
 '2016-05-15 00:00:00',
 '2016-05-16 00:00:00',
 '2016-05-17 00:00:00',
 '2016-05-18 00:00:00',
 '2016-05-19 00:00:00',
 '2016-05-20 00:00:00',
 '2016-05-21 00:00:00',
 '2016-05-22 00:00:00',
 '2016-05-23 00:00:00',
 '2016-05-24 00:00:00',
 '2016-05-25 00:00:00',
 '2016-05-26 00:00:00',
 '2016-05-27 00:00:00',
 '2016-05-28 00:00:00',
 '2016-05-29 00:00:00',
 '2016-05-30 00:00:00',
 '2016-05-31 00:00:00',
 '2016-06-01 00:00:00',
 '2016-06-02 00:00:00',
 '2016-06-03 00:00:00',
 '2016-06-04 00:00:00',
 '2016-06-05 00:00:00',
 '2016-06-06 00:00:00',
 '2016-06-07 00:00:00',
 '2016-06-08 00:00:00',
 '2016-06-09 00:00:00',
 '2016-06-10 00:00:00',
 '2016-06-11 00:00:00',
 '2016-06-12 00:00:00',
 '2016-06-13 00:00:00',
 '2016-06-14 00:00:00',
 '2016-06-15 00:00:00',
 '2016-06-16 00:00:00',
 '2016-06-17 00:00:00',
 '2016-06-18 00:00:00',
 '2016-06-19 00:00:00',
 '2016-06-20 00:00:00',
 '2016-06-21 00:00:00',
 '2016-06-22 00:00:00',
 '2016-06-23 00:00:00',
 '2016-06-24 00:00:00',
 '2016-06-25 00:00:00',
 '2016-06-26 00:00:00',
 '2016-06-27 00:00:00',
 '2016-06-28 00:00:00',
 '2016-06-29 00:00:00',
 '2016-06-30 00:00:00',
 '2016-07-01 00:00:00',
 '2016-07-02 00:00:00',
 '2016-07-03 00:00:00',
 '2016-07-04 00:00:00',
 '2016-07-05 00:00:00',
 '2016-07-06 00:00:00',
 '2016-07-07 00:00:00',
 '2016-07-08 00:00:00',
 '2016-07-09 00:00:00',
 '2016-07-10 00:00:00',
 '2016-07-11 00:00:00',
 '2016-07-12 00:00:00',
 '2016-07-13 00:00:00',
 '2016-07-14 00:00:00',
 '2016-07-15 00:00:00',
 '2016-07-16 00:00:00',
 '2016-07-17 00:00:00',
 '2016-07-18 00:00:00',
 '2016-07-19 00:00:00',
 '2016-07-20 00:00:00',
 '2016-07-21 00:00:00',
 '2016-07-22 00:00:00',
 '2016-07-23 00:00:00',
 '2016-07-24 00:00:00',
 '2016-07-25 00:00:00',
 '2016-07-26 00:00:00',
 '2016-07-27 00:00:00',
 '2016-07-28 00:00:00',
 '2016-07-29 00:00:00',
 '2016-07-30 00:00:00',
 '2016-07-31 00:00:00',
 '2016-08-01 00:00:00',
 '2016-08-02 00:00:00',
 '2016-08-03 00:00:00',
 '2016-08-04 00:00:00',
 '2016-08-05 00:00:00',
 '2016-08-06 00:00:00',
 '2016-08-07 00:00:00',
 '2016-08-08 00:00:00',
 '2016-08-09 00:00:00',
 '2016-08-10 00:00:00',
 '2016-08-11 00:00:00',
 '2016-08-12 00:00:00',
 '2016-08-13 00:00:00',
 '2016-08-14 00:00:00',
 '2016-08-15 00:00:00',
 '2016-08-16 00:00:00',
 '2016-08-17 00:00:00',
 '2016-08-18 00:00:00',
 '2016-08-19 00:00:00',
 '2016-08-20 00:00:00',
 '2016-08-21 00:00:00',
 '2016-08-22 00:00:00',
 '2016-08-23 00:00:00',
 '2016-08-24 00:00:00',
 '2016-08-25 00:00:00',
 '2016-08-26 00:00:00',
 '2016-08-27 00:00:00',
 '2016-08-28 00:00:00',
 '2016-08-29 00:00:00',
 '2016-08-30 00:00:00',
 '2016-08-31 00:00:00',
 '2016-09-01 00:00:00',
 '2016-09-02 00:00:00',
 '2016-09-03 00:00:00',
 '2016-09-04 00:00:00',
 '2016-09-05 00:00:00',
 '2016-09-06 00:00:00',
 '2016-09-07 00:00:00',
 '2016-09-08 00:00:00',
 '2016-09-09 00:00:00',
 '2016-09-10 00:00:00',
 '2016-09-11 00:00:00',
 '2016-09-12 00:00:00',
 '2016-09-13 00:00:00',
 '2016-09-14 00:00:00',
 '2016-09-15 00:00:00',
 '2016-09-16 00:00:00',
 '2016-09-17 00:00:00',
 '2016-09-18 00:00:00',
 '2016-09-19 00:00:00',
 '2016-09-20 00:00:00',
 '2016-09-21 00:00:00',
 '2016-09-22 00:00:00',
 '2016-09-23 00:00:00',
 '2016-09-24 00:00:00',
 '2016-09-25 00:00:00',
 '2016-09-26 00:00:00',
 '2016-09-27 00:00:00',
 '2016-09-28 00:00:00',
 '2016-09-29 00:00:00',
 '2016-09-30 00:00:00',
 '2016-10-01 00:00:00',
 '2016-10-02 00:00:00',
 '2016-10-03 00:00:00',
 '2016-10-04 00:00:00',
 '2016-10-05 00:00:00',
 '2016-10-06 00:00:00',
 '2016-10-07 00:00:00',
 '2016-10-08 00:00:00',
 '2016-10-09 00:00:00',
 '2016-10-10 00:00:00',
 '2016-10-11 00:00:00',
 '2016-10-12 00:00:00',
 '2016-10-13 00:00:00',
 '2016-10-14 00:00:00',
 '2016-10-15 00:00:00',
 '2016-10-16 00:00:00',
 '2016-10-17 00:00:00',
 '2016-10-18 00:00:00',
 '2016-10-19 00:00:00',
 '2016-10-20 00:00:00',
 '2016-10-21 00:00:00',
 '2016-10-22 00:00:00',
 '2016-10-23 00:00:00',
 '2016-10-24 00:00:00',
 '2016-10-25 00:00:00',
 '2016-10-26 00:00:00',
 '2016-10-27 00:00:00',
 '2016-10-28 00:00:00',
 '2016-10-29 00:00:00',
 '2016-10-30 00:00:00',
 '2016-10-31 00:00:00',
 '2016-11-01 00:00:00',
 '2016-11-02 00:00:00',
 '2016-11-03 00:00:00',
 '2016-11-04 00:00:00',
 '2016-11-05 00:00:00',
 '2016-11-06 00:00:00',
 '2016-11-07 00:00:00',
 '2016-11-08 00:00:00',
 '2016-11-09 00:00:00',
 '2016-11-10 00:00:00',
 '2016-11-11 00:00:00',
 '2016-11-12 00:00:00',
 '2016-11-13 00:00:00',
 '2016-11-14 00:00:00',
 '2016-11-15 00:00:00',
 '2016-11-16 00:00:00',
 '2016-11-17 00:00:00',
 '2016-11-18 00:00:00',
 '2016-11-19 00:00:00',
 '2016-11-20 00:00:00',
 '2016-11-21 00:00:00',
 '2016-11-22 00:00:00',
 '2016-11-23 00:00:00',
 '2016-11-24 00:00:00',
 '2016-11-25 00:00:00',
 '2016-11-26 00:00:00',
 '2016-11-27 00:00:00',
 '2016-11-28 00:00:00',
 '2016-11-29 00:00:00',
 '2016-11-30 00:00:00',
 '2016-12-01 00:00:00',
 '2016-12-02 00:00:00',
 '2016-12-03 00:00:00',
 '2016-12-04 00:00:00',
 '2016-12-05 00:00:00',
 '2016-12-06 00:00:00',
 '2016-12-07 00:00:00',
 '2016-12-08 00:00:00',
 '2016-12-09 00:00:00',
 '2016-12-10 00:00:00',
 '2016-12-11 00:00:00',
 '2016-12-12 00:00:00',
 '2016-12-13 00:00:00',
 '2016-12-14 00:00:00',
 '2016-12-15 00:00:00',
 '2016-12-16 00:00:00',
 '2016-12-17 00:00:00',
 '2016-12-18 00:00:00',
 '2016-12-19 00:00:00',
 '2016-12-20 00:00:00',
 '2016-12-21 00:00:00',
 '2016-12-22 00:00:00',
 '2016-12-23 00:00:00',
 '2016-12-24 00:00:00',
 '2016-12-25 00:00:00',
 '2016-12-26 00:00:00',
 '2016-12-27 00:00:00',
 '2016-12-28 00:00:00',
 '2016-12-29 00:00:00',
 '2016-12-30 00:00:00',
 '2016-12-31 00:00:00',
 '2017-01-01 00:00:00',
 '2017-01-02 00:00:00',
 '2017-01-03 00:00:00',
 '2017-01-04 00:00:00',
 '2017-01-05 00:00:00',
 '2017-01-06 00:00:00',
 '2017-01-07 00:00:00',
 '2017-01-08 00:00:00',
 '2017-01-09 00:00:00',
 '2017-01-10 00:00:00',
 '2017-01-11 00:00:00',
 '2017-01-12 00:00:00',
 '2017-01-13 00:00:00',
 '2017-01-14 00:00:00',
 '2017-01-15 00:00:00',
 '2017-01-16 00:00:00',
 '2017-01-17 00:00:00',
 '2017-01-18 00:00:00',
 '2017-01-19 00:00:00',
 '2017-01-20 00:00:00',
 '2017-01-21 00:00:00',
 '2017-01-22 00:00:00',
 '2017-01-23 00:00:00',
 '2017-01-24 00:00:00',
 '2017-01-25 00:00:00',
 '2017-01-26 00:00:00',
 '2017-01-27 00:00:00',
 '2017-01-28 00:00:00',
 '2017-01-29 00:00:00',
 '2017-01-30 00:00:00',
 '2017-01-31 00:00:00',
 '2017-02-01 00:00:00',
 '2017-02-02 00:00:00',
 '2017-02-03 00:00:00',
 '2017-02-04 00:00:00',
 '2017-02-05 00:00:00',
 '2017-02-06 00:00:00',
 '2017-02-07 00:00:00',
 '2017-02-08 00:00:00',
 '2017-02-09 00:00:00',
 '2017-02-10 00:00:00',
 '2017-02-11 00:00:00',
 '2017-02-12 00:00:00',
 '2017-02-13 00:00:00',
 '2017-02-14 00:00:00',
 '2017-02-15 00:00:00',
 '2017-02-16 00:00:00',
 '2017-02-17 00:00:00',
 '2017-02-18 00:00:00',
 '2017-02-19 00:00:00',
 '2017-02-20 00:00:00',
 '2017-02-21 00:00:00',
 '2017-02-22 00:00:00',
 '2017-02-23 00:00:00',
 '2017-02-24 00:00:00',
 '2017-02-25 00:00:00',
 '2017-02-26 00:00:00',
 '2017-02-27 00:00:00',
 '2017-02-28 00:00:00',
 '2017-03-01 00:00:00',
 '2017-03-02 00:00:00',
 '2017-03-03 00:00:00',
 '2017-03-04 00:00:00',
 '2017-03-05 00:00:00',
 '2017-03-06 00:00:00',
 '2017-03-07 00:00:00',
 '2017-03-08 00:00:00',
 '2017-03-09 00:00:00',
 '2017-03-10 00:00:00',
 '2017-03-11 00:00:00',
 '2017-03-12 00:00:00',
 '2017-03-13 00:00:00',
 '2017-03-14 00:00:00',
 '2017-03-15 00:00:00',
 '2017-03-16 00:00:00',
 '2017-03-17 00:00:00',
 '2017-03-18 00:00:00',
 '2017-03-19 00:00:00',
 '2017-03-20 00:00:00',
 '2017-03-21 00:00:00',
 '2017-03-22 00:00:00',
 '2017-03-23 00:00:00',
 '2017-03-24 00:00:00',
 '2017-03-25 00:00:00',
 '2017-03-26 00:00:00',
 '2017-03-27 00:00:00',
 '2017-03-28 00:00:00',
 '2017-03-29 00:00:00',
 '2017-03-30 00:00:00',
 '2017-03-31 00:00:00',
 '2017-04-01 00:00:00',
 '2017-04-02 00:00:00',
 '2017-04-03 00:00:00',
 '2017-04-04 00:00:00',
 '2017-04-05 00:00:00',
 '2017-04-06 00:00:00',
 '2017-04-07 00:00:00',
 '2017-04-08 00:00:00',
 '2017-04-09 00:00:00',
 '2017-04-10 00:00:00',
 '2017-04-11 00:00:00',
 '2017-04-12 00:00:00',
 '2017-04-13 00:00:00',
 '2017-04-14 00:00:00',
 '2017-04-15 00:00:00',
 '2017-04-16 00:00:00',
 '2017-04-17 00:00:00',
 '2017-04-18 00:00:00',
 '2017-04-19 00:00:00',
 '2017-04-20 00:00:00',
 '2017-04-21 00:00:00',
 '2017-04-22 00:00:00',
 '2017-04-23 00:00:00',
 '2017-04-24 00:00:00',
 '2017-04-25 00:00:00',
 '2017-04-26 00:00:00',
 '2017-04-27 00:00:00',
 '2017-04-28 00:00:00',
 '2017-04-29 00:00:00',
 '2017-04-30 00:00:00',
 '2017-05-01 00:00:00',
 '2017-05-02 00:00:00',
 '2017-05-03 00:00:00',
 '2017-05-04 00:00:00',
 '2017-05-05 00:00:00',
 '2017-05-06 00:00:00',
 '2017-05-07 00:00:00',
 '2017-05-08 00:00:00',
 '2017-05-09 00:00:00',
 '2017-05-10 00:00:00',
 '2017-05-11 00:00:00',
 '2017-05-12 00:00:00',
 '2017-05-13 00:00:00',
 '2017-05-14 00:00:00',
 '2017-05-15 00:00:00',
 '2017-05-16 00:00:00',
 '2017-05-17 00:00:00',
 '2017-05-18 00:00:00',
 '2017-05-19 00:00:00',
 '2017-05-20 00:00:00',
 '2017-05-21 00:00:00',
 '2017-05-22 00:00:00',
 '2017-05-23 00:00:00',
 '2017-05-24 00:00:00',
 '2017-05-25 00:00:00',
 '2017-05-26 00:00:00',
 '2017-05-27 00:00:00',
 '2017-05-28 00:00:00',
 '2017-05-29 00:00:00',
 '2017-05-30 00:00:00',
 '2017-05-31 00:00:00',
 '2017-06-01 00:00:00',
 '2017-06-02 00:00:00',
 '2017-06-03 00:00:00',
 '2017-06-04 00:00:00',
 '2017-06-05 00:00:00',
 '2017-06-06 00:00:00',
 '2017-06-07 00:00:00',
 '2017-06-08 00:00:00',
 '2017-06-09 00:00:00',
 '2017-06-10 00:00:00',
 '2017-06-11 00:00:00',
 '2017-06-12 00:00:00',
 '2017-06-13 00:00:00',
 '2017-06-14 00:00:00',
 '2017-06-15 00:00:00',
 '2017-06-16 00:00:00',
 '2017-06-17 00:00:00',
 '2017-06-18 00:00:00',
 '2017-06-19 00:00:00',
 '2017-06-20 00:00:00',
 '2017-06-21 00:00:00',
 '2017-06-22 00:00:00',
 '2017-06-23 00:00:00',
 '2017-06-24 00:00:00',
 '2017-06-25 00:00:00',
 '2017-06-26 00:00:00',
 '2017-06-27 00:00:00',
 '2017-06-28 00:00:00',
 '2017-06-29 00:00:00',
 '2017-06-30 00:00:00',
 '2017-07-01 00:00:00',
 '2017-07-02 00:00:00',
 '2017-07-03 00:00:00',
 '2017-07-04 00:00:00',
 '2017-07-05 00:00:00',
 '2017-07-06 00:00:00',
 '2017-07-07 00:00:00',
 '2017-07-08 00:00:00',
 '2017-07-09 00:00:00',
 '2017-07-10 00:00:00',
 '2017-07-11 00:00:00',
 '2017-07-12 00:00:00',
 '2017-07-13 00:00:00',
 '2017-07-14 00:00:00',
 '2017-07-15 00:00:00',
 '2017-07-16 00:00:00',
 '2017-07-17 00:00:00',
 '2017-07-18 00:00:00',
 '2017-07-19 00:00:00',
 '2017-07-20 00:00:00',
 '2017-07-21 00:00:00',
 '2017-07-22 00:00:00',
 '2017-07-23 00:00:00',
 '2017-07-24 00:00:00',
 '2017-07-25 00:00:00',
 '2017-07-26 00:00:00',
 '2017-07-27 00:00:00',
 '2017-07-28 00:00:00',
 '2017-07-29 00:00:00',
 '2017-07-30 00:00:00',
 '2017-07-31 00:00:00',
 '2017-08-01 00:00:00',
 '2017-08-02 00:00:00',
 '2017-08-03 00:00:00',
 '2017-08-04 00:00:00',
 '2017-08-05 00:00:00',
 '2017-08-06 00:00:00',
 '2017-08-07 00:00:00',
 '2017-08-08 00:00:00',
 '2017-08-09 00:00:00',
 '2017-08-10 00:00:00',
 '2017-08-11 00:00:00',
 '2017-08-12 00:00:00',
 '2017-08-13 00:00:00',
 '2017-08-14 00:00:00',
 '2017-08-15 00:00:00',
 '2017-08-16 00:00:00',
 '2017-08-17 00:00:00',
 '2017-08-18 00:00:00',
 '2017-08-19 00:00:00',
 '2017-08-20 00:00:00',
 '2017-08-21 00:00:00',
 '2017-08-22 00:00:00',
 '2017-08-23 00:00:00',
 '2017-08-24 00:00:00',
 '2017-08-25 00:00:00',
 '2017-08-26 00:00:00',
 '2017-08-27 00:00:00',
 '2017-08-28 00:00:00',
 '2017-08-29 00:00:00',
 '2017-08-30 00:00:00',
 '2017-08-31 00:00:00',
 '2017-09-01 00:00:00',
 '2017-09-02 00:00:00',
 '2017-09-03 00:00:00',
 '2017-09-04 00:00:00',
 '2017-09-05 00:00:00',
 '2017-09-06 00:00:00',
 '2017-09-07 00:00:00',
 '2017-09-08 00:00:00',
 '2017-09-09 00:00:00',
 '2017-09-10 00:00:00',
 '2017-09-11 00:00:00',
 '2017-09-12 00:00:00',
 '2017-09-13 00:00:00',
 '2017-09-14 00:00:00',
 '2017-09-15 00:00:00',
 '2017-09-16 00:00:00',
 '2017-09-17 00:00:00',
 '2017-09-18 00:00:00',
 '2017-09-19 00:00:00',
 '2017-09-20 00:00:00',
 '2017-09-21 00:00:00',
 '2017-09-22 00:00:00',
 '2017-09-23 00:00:00',
 '2017-09-24 00:00:00',
 '2017-09-25 00:00:00',
 '2017-09-26 00:00:00',
 '2017-09-27 00:00:00',
 '2017-09-28 00:00:00',
 '2017-09-29 00:00:00',
 '2017-09-30 00:00:00',
 '2017-10-01 00:00:00',
 '2017-10-02 00:00:00',
 '2017-10-03 00:00:00',
 '2017-10-04 00:00:00',
 '2017-10-05 00:00:00',
 '2017-10-06 00:00:00',
 '2017-10-07 00:00:00',
 '2017-10-08 00:00:00',
 '2017-10-09 00:00:00',
 '2017-10-10 00:00:00',
 '2017-10-11 00:00:00',
 '2017-10-12 00:00:00',
 '2017-10-13 00:00:00',
 '2017-10-14 00:00:00',
 '2017-10-15 00:00:00',
 '2017-10-16 00:00:00',
 '2017-10-17 00:00:00',
 '2017-10-18 00:00:00',
 '2017-10-19 00:00:00',
 '2017-10-20 00:00:00',
 '2017-10-21 00:00:00',
 '2017-10-22 00:00:00',
 '2017-10-23 00:00:00',
 '2017-10-24 00:00:00',
 '2017-10-25 00:00:00',
 '2017-10-26 00:00:00',
 '2017-10-27 00:00:00',
 '2017-10-28 00:00:00',
 '2017-10-29 00:00:00',
 '2017-10-30 00:00:00',
 '2017-10-31 00:00:00',
 '2017-11-01 00:00:00',
 '2017-11-02 00:00:00',
 '2017-11-03 00:00:00',
 '2017-11-04 00:00:00',
 '2017-11-05 00:00:00',
 '2017-11-06 00:00:00',
 '2017-11-07 00:00:00',
 '2017-11-08 00:00:00',
 '2017-11-09 00:00:00',
 '2017-11-10 00:00:00',
 '2017-11-11 00:00:00',
 '2017-11-12 00:00:00',
 '2017-11-13 00:00:00',
 '2017-11-14 00:00:00',
 '2017-11-15 00:00:00',
 '2017-11-16 00:00:00',
 '2017-11-17 00:00:00',
 '2017-11-18 00:00:00',
 '2017-11-19 00:00:00',
 '2017-11-20 00:00:00',
 '2017-11-21 00:00:00',
 '2017-11-22 00:00:00',
 '2017-11-23 00:00:00',
 '2017-11-24 00:00:00',
 '2017-11-25 00:00:00',
 '2017-11-26 00:00:00',
 '2017-11-27 00:00:00',
 '2017-11-28 00:00:00',
 '2017-11-29 00:00:00',
 '2017-11-30 00:00:00',
 '2017-12-01 00:00:00',
 '2017-12-02 00:00:00',
 '2017-12-03 00:00:00',
 '2017-12-04 00:00:00',
 '2017-12-05 00:00:00',
 '2017-12-06 00:00:00',
 '2017-12-07 00:00:00',
 '2017-12-08 00:00:00',
 '2017-12-09 00:00:00',
 '2017-12-10 00:00:00',
 '2017-12-11 00:00:00',
 '2017-12-12 00:00:00',
 '2017-12-13 00:00:00',
 '2017-12-14 00:00:00',
 '2017-12-15 00:00:00',
 '2017-12-16 00:00:00',
 '2017-12-17 00:00:00',
 '2017-12-18 00:00:00',
 '2017-12-19 00:00:00',
 '2017-12-20 00:00:00',
 '2017-12-21 00:00:00',
 '2017-12-22 00:00:00',
 '2017-12-23 00:00:00',
 '2017-12-24 00:00:00',
 '2017-12-25 00:00:00',
 '2017-12-26 00:00:00',
 '2017-12-27 00:00:00',
 '2017-12-28 00:00:00',
 '2017-12-29 00:00:00',
 '2017-12-30 00:00:00',
 '2017-12-31 00:00:00',
 '2018-01-01 00:00:00',
 '2018-01-02 00:00:00',
 '2018-01-03 00:00:00',
 '2018-01-04 00:00:00',
 '2018-01-05 00:00:00',
 '2018-01-06 00:00:00',
 '2018-01-07 00:00:00',
 '2018-01-08 00:00:00',
 '2018-01-09 00:00:00',
 '2018-01-10 00:00:00',
 '2018-01-11 00:00:00',
 '2018-01-12 00:00:00',
 '2018-01-13 00:00:00',
 '2018-01-14 00:00:00',
 '2018-01-15 00:00:00',
 '2018-01-16 00:00:00',
 '2018-01-17 00:00:00',
 '2018-01-18 00:00:00',
 '2018-01-19 00:00:00',
 '2018-01-20 00:00:00',
 '2018-01-21 00:00:00',
 '2018-01-22 00:00:00',
 '2018-01-23 00:00:00',
 '2018-01-24 00:00:00',
 '2018-01-25 00:00:00',
 '2018-01-26 00:00:00',
 '2018-01-27 00:00:00',
 '2018-01-28 00:00:00',
 '2018-01-29 00:00:00',
 '2018-01-30 00:00:00',
 '2018-01-31 00:00:00',
 '2018-02-01 00:00:00',
 '2018-02-02 00:00:00',
 '2018-02-03 00:00:00',
 '2018-02-04 00:00:00',
 '2018-02-05 00:00:00',
 '2018-02-06 00:00:00',
 '2018-02-07 00:00:00',
 '2018-02-08 00:00:00',
 '2018-02-09 00:00:00',
 '2018-02-10 00:00:00',
 '2018-02-11 00:00:00',
 '2018-02-12 00:00:00',
 '2018-02-13 00:00:00',
 '2018-02-14 00:00:00',
 '2018-02-15 00:00:00',
 '2018-02-16 00:00:00',
 '2018-02-17 00:00:00',
 '2018-02-18 00:00:00',
 '2018-02-19 00:00:00',
 '2018-02-20 00:00:00',
 '2018-02-21 00:00:00',
 '2018-02-22 00:00:00',
 '2018-02-23 00:00:00',
 '2018-02-24 00:00:00',
 '2018-02-25 00:00:00',
 '2018-02-26 00:00:00',
 '2018-02-27 00:00:00',
 '2018-02-28 00:00:00',
 '2018-03-01 00:00:00',
 '2018-03-02 00:00:00',
 '2018-03-03 00:00:00',
 '2018-03-04 00:00:00',
 '2018-03-05 00:00:00',
 '2018-03-06 00:00:00',
 '2018-03-07 00:00:00',
 '2018-03-08 00:00:00',
 '2018-03-09 00:00:00',
 '2018-03-10 00:00:00',
 '2018-03-11 00:00:00',
 '2018-03-12 00:00:00',
 '2018-03-13 00:00:00',
 '2018-03-14 00:00:00',
 '2018-03-15 00:00:00',
 '2018-03-16 00:00:00',
 '2018-03-17 00:00:00',
 '2018-03-18 00:00:00',
 '2018-03-19 00:00:00',
 '2018-03-20 00:00:00',
 '2018-03-21 00:00:00',
 '2018-03-22 00:00:00',
 '2018-03-23 00:00:00',
 '2018-03-24 00:00:00',
 '2018-03-25 00:00:00',
 '2018-03-26 00:00:00',
 '2018-03-27 00:00:00',
 '2018-03-28 00:00:00',
 '2018-03-29 00:00:00',
 '2018-03-30 00:00:00',
 '2018-03-31 00:00:00',
 '2018-04-01 00:00:00',
 '2018-04-02 00:00:00',
 '2018-04-03 00:00:00',
 '2018-04-04 00:00:00',
 '2018-04-05 00:00:00',
 '2018-04-06 00:00:00',
 '2018-04-07 00:00:00',
 '2018-04-08 00:00:00',
 '2018-04-09 00:00:00',
 '2018-04-10 00:00:00',
 '2018-04-11 00:00:00',
 '2018-04-12 00:00:00',
 '2018-04-13 00:00:00',
 '2018-04-14 00:00:00',
 '2018-04-15 00:00:00',
 '2018-04-16 00:00:00',
 '2018-04-17 00:00:00',
 '2018-04-18 00:00:00',
 '2018-04-19 00:00:00',
 '2018-04-20 00:00:00',
 '2018-04-21 00:00:00',
 '2018-04-22 00:00:00',
 '2018-04-23 00:00:00',
 '2018-04-24 00:00:00',
 '2018-04-25 00:00:00',
 '2018-04-26 00:00:00',
 '2018-04-27 00:00:00',
 '2018-04-28 00:00:00',
 '2018-04-29 00:00:00',
 '2018-04-30 00:00:00',
 '2018-05-01 00:00:00',
 '2018-05-02 00:00:00',
 '2018-05-03 00:00:00',
 '2018-05-04 00:00:00',
 '2018-05-05 00:00:00',
 '2018-05-06 00:00:00',
 '2018-05-07 00:00:00',
 '2018-05-08 00:00:00',
 '2018-05-09 00:00:00',
 '2018-05-10 00:00:00',
 '2018-05-11 00:00:00',
 '2018-05-12 00:00:00',
 '2018-05-13 00:00:00',
 '2018-05-14 00:00:00',
 '2018-05-15 00:00:00',
 '2018-05-16 00:00:00',
 '2018-05-17 00:00:00',
 '2018-05-18 00:00:00',
 '2018-05-19 00:00:00',
 '2018-05-20 00:00:00',
 '2018-05-21 00:00:00',
 '2018-05-22 00:00:00',
 '2018-05-23 00:00:00',
 '2018-05-24 00:00:00',
 '2018-05-25 00:00:00',
 '2018-05-26 00:00:00',
 '2018-05-27 00:00:00',
 '2018-05-28 00:00:00',
 '2018-05-29 00:00:00',
 '2018-05-30 00:00:00',
 '2018-05-31 00:00:00',
 '2018-06-01 00:00:00',
 '2018-06-02 00:00:00',
 '2018-06-03 00:00:00',
 '2018-06-04 00:00:00',
 '2018-06-05 00:00:00',
 '2018-06-06 00:00:00',
 '2018-06-07 00:00:00',
 '2018-06-08 00:00:00',
 '2018-06-09 00:00:00',
 '2018-06-10 00:00:00',
 '2018-06-11 00:00:00',
 '2018-06-12 00:00:00',
 '2018-06-13 00:00:00',
 '2018-06-14 00:00:00',
 '2018-06-15 00:00:00',
 '2018-06-16 00:00:00',
 '2018-06-17 00:00:00',
 '2018-06-18 00:00:00',
 '2018-06-19 00:00:00',

In [34]:
new_dates = pd.to_datetime(dates_list)
dates_series = pd.Series(new_dates.to_period('m'))

In [35]:
dates_series

0       2016-03
1       2016-03
2       2016-03
3       2016-03
4       2016-03
         ...
2122    2021-12
2123    2021-12
2124    2022-01
2125    2022-01
2126    2022-01
Length: 2127, dtype: period[M]

In [36]:
eth_data['date_m'] = dates_series

In [37]:
eth_data

,date,open,high,low,close,Volume USD,Volume ETH,pg_change_tomorrow,date_m
0,2016-03-09 00:00:00,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,4.910714,2016-03
1,2016-03-10 00:00:00,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,1.702128,2016-03
2,2016-03-11 00:00:00,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,8.117155,2016-03
3,2016-03-12 00:00:00,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,16.640867,2016-03
4,2016-03-13 00:00:00,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,-17.053749,2016-03
...,...,...,...,...,...,...,...,...,...
2122,2021-12-30 00:00:00,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,-0.857143,2021-12
2123,2021-12-31 00:00:00,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,2.416943,2021-12
2124,2022-01-01 00:00:00,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,1.685647,2022-01
2125,2022-01-02 00:00:00,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,-0.459032,2022-01
2126,2022-01-03 00:00:00,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,0.000000,2022-01

In [38]:
fed_fundsrate = pd.read_csv('fedfunds.csv')

In [39]:
fed_fundsrate

          DATE  FEDFUNDS
0   2016-02-01      0.38
1   2016-03-01      0.36
2   2016-04-01      0.37
3   2016-05-01      0.37
4   2016-06-01      0.38
..         ...       ...
66  2021-08-01      0.09
67  2021-09-01      0.08
68  2021-10-01      0.08
69  2021-11-01      0.08
70  2021-12-01      0.08

[71 rows x 2 columns]

In [40]:
eth_data['fed_rate'] = np.nan
feds_fundsrate = fed_fundsrate.append({'FEDFUNDS': 0.08, 'DATE':'2022-01-03' }, ignore_index=True)
feds_fundsrate

          DATE  FEDFUNDS
0   2016-02-01      0.38
1   2016-03-01      0.36
2   2016-04-01      0.37
3   2016-05-01      0.37
4   2016-06-01      0.38
..         ...       ...
67  2021-09-01      0.08
68  2021-10-01      0.08
69  2021-11-01      0.08
70  2021-12-01      0.08
71  2022-01-03      0.08

[72 rows x 2 columns]

In [41]:
rate_list = []
matched = False
for i in eth_data['date_m']:
    matched = False
    for date in range(0,len(feds_fundsrate)):
#         eth_date = pd.to_datetime(eth_data['date'][i])
#         eth_date_formatted = i.to_period('m')
        fed_date = pd.to_datetime(feds_fundsrate['DATE'][date])
        fed_date_formatted = fed_date.to_period('m')
        if i == fed_date_formatted:
            rate_list.append(feds_fundsrate['FEDFUNDS'][date])

                    
# eth_data['fed_rate'] = rate_list

            
        
        
# def set_fedrate(x):
#     x_date = pd.to_datetime(x)
#     for i in range(0,len(fed_fundsrate)):
#         date_convert = pd.to_datetime(fed_fundsrate['DATE'][i])
#         month_date = date_convert.to_period('m')
#         if month_date == x_date.to_period('m'):
#             return fed_fundsrate['FEDFUNDS'][i]

In [42]:
eth_data['fed_rate'] = rate_list

In [43]:
eth_data

,date,open,high,low,close,Volume USD,Volume ETH,pg_change_tomorrow,date_m,fed_rate
0,2016-03-09 00:00:00,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,4.910714,2016-03,0.36
1,2016-03-10 00:00:00,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,1.702128,2016-03,0.36
2,2016-03-11 00:00:00,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,8.117155,2016-03,0.36
3,2016-03-12 00:00:00,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,16.640867,2016-03,0.36
4,2016-03-13 00:00:00,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,-17.053749,2016-03,0.36
...,...,...,...,...,...,...,...,...,...,...
2122,2021-12-30 00:00:00,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,-0.857143,2021-12,0.08
2123,2021-12-31 00:00:00,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,2.416943,2021-12,0.08
2124,2022-01-01 00:00:00,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,1.685647,2022-01,0.08
2125,2022-01-02 00:00:00,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,-0.459032,2022-01,0.08
2126,2022-01-03 00:00:00,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,0.000000,2022-01,0.08

In [44]:
eth_data.to_csv('eth_daily_main.csv', index=False)

In [45]:
eth_data = pd.read_csv('eth_daily_main.csv')

In [46]:
eth_data

,date,open,high,low,close,Volume USD,Volume ETH,pg_change_tomorrow,date_m,fed_rate
0,2016-03-09 00:00:00,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,4.910714,2016-03,0.36
1,2016-03-10 00:00:00,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,1.702128,2016-03,0.36
2,2016-03-11 00:00:00,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,8.117155,2016-03,0.36
3,2016-03-12 00:00:00,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,16.640867,2016-03,0.36
4,2016-03-13 00:00:00,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,-17.053749,2016-03,0.36
...,...,...,...,...,...,...,...,...,...,...
2122,2021-12-30 00:00:00,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,-0.857143,2021-12,0.08
2123,2021-12-31 00:00:00,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,2.416943,2021-12,0.08
2124,2022-01-01 00:00:00,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,1.685647,2022-01,0.08
2125,2022-01-02 00:00:00,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,-0.459032,2022-01,0.08
2126,2022-01-03 00:00:00,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,0.000000,2022-01,0.08

In [64]:
snp = pd.read_csv('snp500.csv')
snp.drop(['Open', 'High', 'Low', 'Volume'], axis=1,inplace=True)

In [65]:
snp

            Date    Close
0     2016-03-09  1989.26
1     2016-03-10  1989.57
2     2016-03-11  2022.19
3     2016-03-14  2019.64
4     2016-03-15  2015.93
...          ...      ...
1464  2021-12-30  4778.73
1465  2021-12-31  4766.18
1466  2022-01-03  4796.56
1467  2022-01-04  4793.54
1468  2022-01-05  4700.58

[1469 rows x 2 columns]

In [58]:
eth_data['snp_close'] = np.nan

In [82]:
match=False
temp_snp_list = []
for date in eth_data['date']:
    match=False
    current_date = pd.to_datetime(date).to_period('d')
    print(current_date)
    count = 0
    for i in range(count,len(snp)):
        snp_date = pd.to_datetime(snp['Date'][i]).to_period('d')
        if snp_date == current_date:
            temp_snp_list.append(snp['Close'][i])
            match=True
            count += 1
            break
    if match==False:
        last_item = temp_snp_list[len(temp_snp_list) - 1]
        temp_snp_list.append(last_item)

# eth_data['snp_close'] = temp_snp_list
# #             if no match set new one to temp_date_list[-1]
# eth_data

2016-03-09
2016-03-10
2016-03-11
2016-03-12
2016-03-13
2016-03-14
2016-03-15
2016-03-16
2016-03-17
2016-03-18
2016-03-19
2016-03-20
2016-03-21
2016-03-22
2016-03-23
2016-03-24
2016-03-25
2016-03-26
2016-03-27
2016-03-28
2016-03-29
2016-03-30
2016-03-31
2016-04-01
2016-04-02
2016-04-03
2016-04-04
2016-04-05
2016-04-06
2016-04-07
2016-04-08
2016-04-09
2016-04-10
2016-04-11
2016-04-12
2016-04-13
2016-04-14
2016-04-15
2016-04-16
2016-04-17
2016-04-18
2016-04-19
2016-04-20
2016-04-21
2016-04-22
2016-04-23
2016-04-24
2016-04-25
2016-04-26
2016-04-27
2016-04-28
2016-04-29
2016-04-30
2016-05-01
2016-05-02
2016-05-03
2016-05-04
2016-05-05
2016-05-06
2016-05-07
2016-05-08
2016-05-09
2016-05-10
2016-05-11
2016-05-12
2016-05-13
2016-05-14
2016-05-15
2016-05-16
2016-05-17
2016-05-18
2016-05-19
2016-05-20
2016-05-21
2016-05-22
2016-05-23
2016-05-24
2016-05-25
2016-05-26
2016-05-27
2016-05-28
2016-05-29
2016-05-30
2016-05-31
2016-06-01
2016-06-02
2016-06-03
2016-06-04
2016-06-05
2016-06-06
2016-06-07
2016-06-08
2016-06-09
2016-06-10
2016-06-11
2016-06-12
2016-06-13
2016-06-14
2016-06-15
2016-06-16
2016-06-17
2016-06-18
2016-06-19
2016-06-20
2016-06-21
2016-06-22
2016-06-23
2016-06-24
2016-06-25
2016-06-26
2016-06-27
2016-06-28
2016-06-29
2016-06-30
2016-07-01
2016-07-02
2016-07-03
2016-07-04
2016-07-05
2016-07-06
2016-07-07
2016-07-08
2016-07-09
2016-07-10
2016-07-11
2016-07-12
2016-07-13
2016-07-14
2016-07-15
2016-07-16
2016-07-17
2016-07-18
2016-07-19
2016-07-20
2016-07-21
2016-07-22
2016-07-23
2016-07-24
2016-07-25
2016-07-26
2016-07-27
2016-07-28
2016-07-29
2016-07-30
2016-07-31
2016-08-01
2016-08-02
2016-08-03
2016-08-04
2016-08-05
2016-08-06
2016-08-07
2016-08-08
2016-08-09
2016-08-10
2016-08-11
2016-08-12
2016-08-13
2016-08-14
2016-08-15
2016-08-16
2016-08-17
2016-08-18
2016-08-19
2016-08-20
2016-08-21
2016-08-22
2016-08-23
2016-08-24
2016-08-25
2016-08-26
2016-08-27
2016-08-28
2016-08-29
2016-08-30
2016-08-31
2016-09-01
2016-09-02
2016-09-03
2016-09-04
2016-09-05
2016-09-06
2016-09-07
2016-09-08
2016-09-09
2016-09-10
2016-09-11
2016-09-12
2016-09-13
2016-09-14
2016-09-15
2016-09-16
2016-09-17
2016-09-18
2016-09-19
2016-09-20
2016-09-21
2016-09-22
2016-09-23
2016-09-24
2016-09-25
2016-09-26
2016-09-27
2016-09-28
2016-09-29
2016-09-30
2016-10-01
2016-10-02
2016-10-03
2016-10-04
2016-10-05
2016-10-06
2016-10-07
2016-10-08
2016-10-09
2016-10-10
2016-10-11
2016-10-12
2016-10-13
2016-10-14
2016-10-15
2016-10-16
2016-10-17
2016-10-18
2016-10-19
2016-10-20
2016-10-21
2016-10-22
2016-10-23
2016-10-24
2016-10-25
2016-10-26
2016-10-27
2016-10-28
2016-10-29
2016-10-30
2016-10-31
2016-11-01
2016-11-02
2016-11-03
2016-11-04
2016-11-05
2016-11-06
2016-11-07
2016-11-08
2016-11-09
2016-11-10
2016-11-11
2016-11-12
2016-11-13
2016-11-14
2016-11-15
2016-11-16
2016-11-17
2016-11-18
2016-11-19
2016-11-20
2016-11-21
2016-11-22
2016-11-23
2016-11-24
2016-11-25
2016-11-26
2016-11-27
2016-11-28
2016-11-29
2016-11-30
2016-12-01
2016-12-02
2016-12-03
2016-12-04
2016-12-05
2016-12-06
2016-12-07
2016-12-08
2016-12-09
2016-12-10
2016-12-11
2016-12-12
2016-12-13
2016-12-14
2016-12-15
2016-12-16
2016-12-17
2016-12-18
2016-12-19
2016-12-20
2016-12-21
2016-12-22
2016-12-23
2016-12-24
2016-12-25
2016-12-26
2016-12-27
2016-12-28
2016-12-29
2016-12-30
2016-12-31
2017-01-01
2017-01-02
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-07
2017-01-08
2017-01-09
2017-01-10
2017-01-11
2017-01-12
2017-01-13
2017-01-14
2017-01-15
2017-01-16
2017-01-17
2017-01-18
2017-01-19
2017-01-20
2017-01-21
2017-01-22
2017-01-23
2017-01-24
2017-01-25
2017-01-26
2017-01-27
2017-01-28
2017-01-29
2017-01-30
2017-01-31
2017-02-01
2017-02-02
2017-02-03
2017-02-04
2017-02-05
2017-02-06
2017-02-07
2017-02-08
2017-02-09
2017-02-10
2017-02-11
2017-02-12
2017-02-13
2017-02-14
2017-02-15
2017-02-16
2017-02-17
2017-02-18
2017-02-19
2017-02-20
2017-02-21
2017-02-22
2017-02-23
2017-02-24
2017-02-25
2017-02-26
2017-02-27
2017-02-28
2017-03-01
2017-03-02
2017-03-03
2017-03-04
2017-03-05
2017-03-06
2017-03-07
2017-03-08
2017-03-09
2017-03-10
2017-03-11
2017-03-12
2017-03-13
2017-03-14
2017-03-15
2017-03-16
2017-03-17
2017-03-18
2017-03-19
2017-03-20
2017-03-21
2017-03-22
2017-03-23
2017-03-24
2017-03-25
2017-03-26
2017-03-27
2017-03-28
2017-03-29
2017-03-30
2017-03-31
2017-04-01
2017-04-02
2017-04-03
2017-04-04
2017-04-05
2017-04-06
2017-04-07
2017-04-08
2017-04-09
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-14
2017-04-15
2017-04-16
2017-04-17
2017-04-18
2017-04-19
2017-04-20
2017-04-21
2017-04-22
2017-04-23
2017-04-24
2017-04-25
2017-04-26
2017-04-27
2017-04-28
2017-04-29
2017-04-30
2017-05-01
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-06
2017-05-07
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-13
2017-05-14
2017-05-15
2017-05-16
2017-05-17
2017-05-18
2017-05-19
2017-05-20
2017-05-21
2017-05-22
2017-05-23
2017-05-24
2017-05-25
2017-05-26
2017-05-27
2017-05-28
2017-05-29
2017-05-30
2017-05-31
2017-06-01
2017-06-02
2017-06-03
2017-06-04
2017-06-05
2017-06-06
2017-06-07
2017-06-08
2017-06-09
2017-06-10
2017-06-11
2017-06-12
2017-06-13
2017-06-14
2017-06-15
2017-06-16
2017-06-17
2017-06-18
2017-06-19
2017-06-20
2017-06-21
2017-06-22
2017-06-23
2017-06-24
2017-06-25
2017-06-26
2017-06-27
2017-06-28
2017-06-29
2017-06-30
2017-07-01
2017-07-02
2017-07-03
2017-07-04
2017-07-05
2017-07-06
2017-07-07
2017-07-08
2017-07-09
2017-07-10
2017-07-11
2017-07-12
2017-07-13
2017-07-14
2017-07-15
2017-07-16
2017-07-17
2017-07-18
2017-07-19
2017-07-20
2017-07-21
2017-07-22
2017-07-23
2017-07-24
2017-07-25
2017-07-26
2017-07-27
2017-07-28
2017-07-29
2017-07-30
2017-07-31
2017-08-01
2017-08-02
2017-08-03
2017-08-04
2017-08-05
2017-08-06
2017-08-07
2017-08-08
2017-08-09
2017-08-10
2017-08-11
2017-08-12
2017-08-13
2017-08-14
2017-08-15
2017-08-16
2017-08-17
2017-08-18
2017-08-19
2017-08-20
2017-08-21
2017-08-22
2017-08-23
2017-08-24
2017-08-25
2017-08-26
2017-08-27
2017-08-28
2017-08-29
2017-08-30
2017-08-31
2017-09-01
2017-09-02
2017-09-03
2017-09-04
2017-09-05
2017-09-06
2017-09-07
2017-09-08
2017-09-09
2017-09-10
2017-09-11
2017-09-12
2017-09-13
2017-09-14
2017-09-15
2017-09-16
2017-09-17
2017-09-18
2017-09-19
2017-09-20
2017-09-21
2017-09-22
2017-09-23
2017-09-24
2017-09-25
2017-09-26
2017-09-27
2017-09-28
2017-09-29
2017-09-30
2017-10-01
2017-10-02
2017-10-03
2017-10-04
2017-10-05
2017-10-06
2017-10-07
2017-10-08
2017-10-09
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-14
2017-10-15
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-21
2017-10-22
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-28
2017-10-29
2017-10-30
2017-10-31
2017-11-01
2017-11-02
2017-11-03
2017-11-04
2017-11-05
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-11
2017-11-12
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-18
2017-11-19
2017-11-20
2017-11-21
2017-11-22
2017-11-23
2017-11-24
2017-11-25
2017-11-26
2017-11-27
2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-02
2017-12-03
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-09
2017-12-10
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-16
2017-12-17
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-23
2017-12-24
2017-12-25
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2017-12-30
2017-12-31
2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-13
2018-01-14
2018-01-15
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-20
2018-01-21
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-27
2018-01-28
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-03
2018-02-04
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-10
2018-02-11
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-17
2018-02-18
2018-02-19
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-24
2018-02-25
2018-02-26
2018-02-27
2018-02-28
2018-03-01
2018-03-02
2018-03-03
2018-03-04
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-10
2018-03-11
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-17
2018-03-18
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-24

2018-03-25
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-03-30
2018-03-31
2018-04-01
2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-07
2018-04-08
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-14
2018-04-15
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-21
2018-04-22
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-28
2018-04-29
2018-04-30
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-05
2018-05-06
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-12
2018-05-13
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-19
2018-05-20
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-26
2018-05-27
2018-05-28
2018-05-29
2018-05-30
2018-05-31
2018-06-01
2018-06-02
2018-06-03
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-09
2018-06-10
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-16
2018-06-17
2018-06-18
2018-06-19
2018-06-20
2018-06-21
2018-06-22
2018-06-23
2018-06-24
2018-06-25
2018-06-26
2018-06-27
2018-06-28
2018-06-29
2018-06-30
2018-07-01
2018-07-02
2018-07-03
2018-07-04
2018-07-05
2018-07-06
2018-07-07
2018-07-08
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-14
2018-07-15
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-21
2018-07-22
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-28
2018-07-29
2018-07-30
2018-07-31
2018-08-01
2018-08-02
2018-08-03
2018-08-04
2018-08-05
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-11
2018-08-12
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-18
2018-08-19
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-25
2018-08-26
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-09-01
2018-09-02
2018-09-03
2018-09-04
2018-09-05
2018-09-06
2018-09-07
2018-09-08
2018-09-09
2018-09-10
2018-09-11
2018-09-12
2018-09-13
2018-09-14
2018-09-15
2018-09-16
2018-09-17
2018-09-18
2018-09-19
2018-09-20
2018-09-21
2018-09-22
2018-09-23
2018-09-24
2018-09-25
2018-09-26
2018-09-27
2018-09-28
2018-09-29
2018-09-30
2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-06
2018-10-07
2018-10-08
2018-10-09
2018-10-10
2018-10-11
2018-10-12
2018-10-13
2018-10-14
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-20
2018-10-21
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-27
2018-10-28
2018-10-29
2018-10-30
2018-10-31
2018-11-01
2018-11-02
2018-11-03
2018-11-04
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-10
2018-11-11
2018-11-12
2018-11-13
2018-11-14
2018-11-15
2018-11-16
2018-11-17
2018-11-18
2018-11-19
2018-11-20
2018-11-21
2018-11-22
2018-11-23
2018-11-24
2018-11-25
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2018-12-01
2018-12-02
2018-12-03
2018-12-04
2018-12-05
2018-12-06
2018-12-07
2018-12-08
2018-12-09
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30
2018-12-31
2019-01-01
2019-01-02
2019-01-03
2019-01-04
2019-01-05
2019-01-06
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-12
2019-01-13
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-19
2019-01-20
2019-01-21
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-26
2019-01-27
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01
2019-02-02
2019-02-03
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-16
2019-02-17
2019-02-18
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-23
2019-02-24
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-02
2019-03-03
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-09
2019-03-10
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-16
2019-03-17
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-23
2019-03-24
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-03-30
2019-03-31
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-06
2019-04-07
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-13
2019-04-14
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-19
2019-04-20
2019-04-21
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-27
2019-04-28
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-18
2019-05-19
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-25
2019-05-26
2019-05-27
2019-05-28
2019-05-29
2019-05-30
2019-05-31
2019-06-01
2019-06-02
2019-06-03
2019-06-04
2019-06-05
2019-06-06
2019-06-07
2019-06-08
2019-06-09
2019-06-10
2019-06-11
2019-06-12
2019-06-13
2019-06-14
2019-06-15
2019-06-16
2019-06-17
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-22
2019-06-23
2019-06-24
2019-06-25
2019-06-26
2019-06-27
2019-06-28
2019-06-29
2019-06-30
2019-07-01
2019-07-02
2019-07-03
2019-07-04
2019-07-05
2019-07-06
2019-07-07
2019-07-08
2019-07-09
2019-07-10
2019-07-11
2019-07-12
2019-07-13
2019-07-14
2019-07-15
2019-07-16
2019-07-17
2019-07-18
2019-07-19
2019-07-20
2019-07-21
2019-07-22
2019-07-23
2019-07-24
2019-07-25
2019-07-26
2019-07-27
2019-07-28
2019-07-29
2019-07-30
2019-07-31
2019-08-01
2019-08-02
2019-08-03
2019-08-04
2019-08-05
2019-08-06
2019-08-07
2019-08-08
2019-08-09
2019-08-10
2019-08-11
2019-08-12
2019-08-13
2019-08-14
2019-08-15
2019-08-16
2019-08-17
2019-08-18
2019-08-19
2019-08-20
2019-08-21
2019-08-22
2019-08-23
2019-08-24
2019-08-25
2019-08-26
2019-08-27
2019-08-28
2019-08-29
2019-08-30
2019-08-31
2019-09-01
2019-09-02
2019-09-03
2019-09-04
2019-09-05
2019-09-06
2019-09-07
2019-09-08
2019-09-09
2019-09-10
2019-09-11
2019-09-12
2019-09-13
2019-09-14
2019-09-15
2019-09-16
2019-09-17
2019-09-18
2019-09-19
2019-09-20
2019-09-21
2019-09-22
2019-09-23
2019-09-24
2019-09-25
2019-09-26
2019-09-27
2019-09-28
2019-09-29
2019-09-30
2019-10-01
2019-10-02
2019-10-03
2019-10-04
2019-10-05
2019-10-06
2019-10-07
2019-10-08
2019-10-09
2019-10-10
2019-10-11
2019-10-12
2019-10-13
2019-10-14
2019-10-15
2019-10-16
2019-10-17
2019-10-18
2019-10-19
2019-10-20
2019-10-21
2019-10-22
2019-10-23
2019-10-24
2019-10-25
2019-10-26
2019-10-27
2019-10-28
2019-10-29
2019-10-30
2019-10-31
2019-11-01
2019-11-02
2019-11-03
2019-11-04
2019-11-05
2019-11-06
2019-11-07
2019-11-08
2019-11-09
2019-11-10
2019-11-11
2019-11-12
2019-11-13
2019-11-14
2019-11-15
2019-11-16
2019-11-17
2019-11-18
2019-11-19
2019-11-20
2019-11-21
2019-11-22
2019-11-23
2019-11-24
2019-11-25
2019-11-26
2019-11-27
2019-11-28
2019-11-29
2019-11-30
2019-12-01
2019-12-02
2019-12-03
2019-12-04
2019-12-05
2019-12-06
2019-12-07
2019-12-08
2019-12-09
2019-12-10
2019-12-11
2019-12-12
2019-12-13
2019-12-14
2019-12-15
2019-12-16
2019-12-17
2019-12-18
2019-12-19
2019-12-20
2019-12-21
2019-12-22
2019-12-23
2019-12-24
2019-12-25
2019-12-26
2019-12-27
2019-12-28
2019-12-29
2019-12-30
2019-12-31
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-20
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-25
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-01
2020-02-02
2020-02-03
2020-02-04
2020-02-05
2020-02-06
2020-02-07
2020-02-08
2020-02-09
2020-02-10
2020-02-11
2020-02-12
2020-02-13
2020-02-14
2020-02-15
2020-02-16
2020-02-17
2020-02-18
2020-02-19
2020-02-20
2020-02-21
2020-02-22
2020-02-23
2020-02-24
2020-02-25
2020-02-26
2020-02-27
2020-02-28
2020-02-29
2020-03-01
2020-03-02
2020-03-03
2020-03-04
2020-03-05
2020-03-06
2020-03-07
2020-03-08
2020-03-09
2020-03-10
2020-03-11
2020-03-12
2020-03-13
2020-03-14
2020-03-15
2020-03-16
2020-03-17
2020-03-18
2020-03-19
2020-03-20
2020-03-21
2020-03-22
2020-03-23
2020-03-24
2020-03-25
2020-03-26
2020-03-27
2020-03-28
2020-03-29
2020-03-30
2020-03-31
2020-04-01
2020-04-02
2020-04-03
2020-04-04
2020-04-05
2020-04-06
2020-04-07

2020-04-08
2020-04-09
2020-04-10
2020-04-11
2020-04-12
2020-04-13
2020-04-14
2020-04-15
2020-04-16
2020-04-17
2020-04-18
2020-04-19
2020-04-20
2020-04-21
2020-04-22
2020-04-23
2020-04-24
2020-04-25
2020-04-26
2020-04-27
2020-04-28
2020-04-29
2020-04-30
2020-05-01
2020-05-02
2020-05-03
2020-05-04
2020-05-05
2020-05-06
2020-05-07
2020-05-08
2020-05-09
2020-05-10
2020-05-11
2020-05-12
2020-05-13
2020-05-14
2020-05-15
2020-05-16
2020-05-17
2020-05-18
2020-05-19
2020-05-20
2020-05-21
2020-05-22
2020-05-23
2020-05-24
2020-05-25
2020-05-26
2020-05-27
2020-05-28
2020-05-29
2020-05-30
2020-05-31
2020-06-01
2020-06-02
2020-06-03
2020-06-04
2020-06-05
2020-06-06
2020-06-07
2020-06-08
2020-06-09
2020-06-10
2020-06-11
2020-06-12
2020-06-13
2020-06-14
2020-06-15
2020-06-16
2020-06-17
2020-06-18
2020-06-19
2020-06-20
2020-06-21
2020-06-22
2020-06-23
2020-06-24
2020-06-25
2020-06-26
2020-06-27
2020-06-28
2020-06-29
2020-06-30
2020-07-01
2020-07-02
2020-07-03
2020-07-04
2020-07-05
2020-07-06
2020-07-07
2020-07-08
2020-07-09
2020-07-10
2020-07-11
2020-07-12
2020-07-13
2020-07-14
2020-07-15
2020-07-16
2020-07-17
2020-07-18
2020-07-19
2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-25
2020-07-26
2020-07-27
2020-07-28
2020-07-29
2020-07-30
2020-07-31
2020-08-01
2020-08-02
2020-08-03
2020-08-04
2020-08-05
2020-08-06
2020-08-07
2020-08-08
2020-08-09
2020-08-10
2020-08-11
2020-08-12
2020-08-13
2020-08-14
2020-08-15
2020-08-16
2020-08-17
2020-08-18
2020-08-19
2020-08-20
2020-08-21
2020-08-22
2020-08-23
2020-08-24
2020-08-25
2020-08-26
2020-08-27
2020-08-28
2020-08-29
2020-08-30
2020-08-31
2020-09-01
2020-09-02
2020-09-03
2020-09-04
2020-09-05
2020-09-06
2020-09-07
2020-09-08
2020-09-09
2020-09-10
2020-09-11
2020-09-12
2020-09-13
2020-09-14
2020-09-15
2020-09-16
2020-09-17
2020-09-18
2020-09-19
2020-09-20
2020-09-21
2020-09-22
2020-09-23
2020-09-24
2020-09-25
2020-09-26
2020-09-27
2020-09-28
2020-09-29
2020-09-30
2020-10-01
2020-10-02
2020-10-03
2020-10-04
2020-10-05
2020-10-06
2020-10-07
2020-10-08
2020-10-09
2020-10-10
2020-10-11
2020-10-12
2020-10-13
2020-10-14
2020-10-15
2020-10-16
2020-10-17
2020-10-18
2020-10-19
2020-10-20
2020-10-21
2020-10-22
2020-10-23
2020-10-24
2020-10-25
2020-10-26
2020-10-27
2020-10-28
2020-10-29
2020-10-30
2020-10-31
2020-11-01
2020-11-02
2020-11-03
2020-11-04
2020-11-05
2020-11-06
2020-11-07
2020-11-08
2020-11-09
2020-11-10
2020-11-11
2020-11-12
2020-11-13
2020-11-14
2020-11-15
2020-11-16
2020-11-17
2020-11-18
2020-11-19
2020-11-20
2020-11-21
2020-11-22
2020-11-23
2020-11-24
2020-11-25
2020-11-26
2020-11-27
2020-11-28
2020-11-29
2020-11-30
2020-12-01
2020-12-02
2020-12-03
2020-12-04
2020-12-05
2020-12-06
2020-12-07
2020-12-08
2020-12-09
2020-12-10
2020-12-11
2020-12-12
2020-12-13
2020-12-14
2020-12-15
2020-12-16
2020-12-17
2020-12-18
2020-12-19
2020-12-20
2020-12-21
2020-12-22
2020-12-23
2020-12-24
2020-12-25
2020-12-26
2020-12-27
2020-12-28
2020-12-29
2020-12-30
2020-12-31
2021-01-01
2021-01-02
2021-01-03
2021-01-04
2021-01-05
2021-01-06
2021-01-07
2021-01-08
2021-01-09
2021-01-10
2021-01-11
2021-01-12
2021-01-13
2021-01-14
2021-01-15
2021-01-16
2021-01-17
2021-01-18
2021-01-19
2021-01-20
2021-01-21
2021-01-22
2021-01-23
2021-01-24
2021-01-25
2021-01-26
2021-01-27
2021-01-28
2021-01-29
2021-01-30
2021-01-31
2021-02-01
2021-02-02
2021-02-03
2021-02-04
2021-02-05
2021-02-06
2021-02-07
2021-02-08
2021-02-09
2021-02-10
2021-02-11
2021-02-12
2021-02-13
2021-02-14
2021-02-15
2021-02-16
2021-02-17
2021-02-18
2021-02-19
2021-02-20
2021-02-21
2021-02-22
2021-02-23
2021-02-24
2021-02-25
2021-02-26
2021-02-27
2021-02-28
2021-03-01
2021-03-02
2021-03-03
2021-03-04
2021-03-05
2021-03-06
2021-03-07
2021-03-08
2021-03-09
2021-03-10
2021-03-11
2021-03-12
2021-03-13
2021-03-14
2021-03-15
2021-03-16
2021-03-17
2021-03-18
2021-03-19
2021-03-20
2021-03-21
2021-03-22
2021-03-23
2021-03-24
2021-03-25
2021-03-26
2021-03-27
2021-03-28
2021-03-29
2021-03-30
2021-03-31
2021-04-01
2021-04-02
2021-04-03
2021-04-04
2021-04-05
2021-04-06
2021-04-07
2021-04-08
2021-04-09
2021-04-10
2021-04-11
2021-04-12
2021-04-13
2021-04-14
2021-04-15
2021-04-16
2021-04-17
2021-04-18
2021-04-19
2021-04-20
2021-04-21
2021-04-22
2021-04-23
2021-04-24
2021-04-25
2021-04-26
2021-04-27
2021-04-28
2021-04-29
2021-04-30
2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12
2021-05-13
2021-05-14
2021-05-15
2021-05-16
2021-05-17
2021-05-18
2021-05-19
2021-05-20
2021-05-21
2021-05-22
2021-05-23
2021-05-24
2021-05-25
2021-05-26
2021-05-27
2021-05-28
2021-05-29
2021-05-30
2021-05-31
2021-06-01
2021-06-02
2021-06-03
2021-06-04
2021-06-05
2021-06-06
2021-06-07
2021-06-08
2021-06-09
2021-06-10
2021-06-11
2021-06-12
2021-06-13
2021-06-14
2021-06-15
2021-06-16
2021-06-17
2021-06-18
2021-06-19
2021-06-20
2021-06-21
2021-06-22
2021-06-23
2021-06-24
2021-06-25
2021-06-26
2021-06-27
2021-06-28
2021-06-29
2021-06-30
2021-07-01
2021-07-02
2021-07-03
2021-07-04
2021-07-05
2021-07-06
2021-07-07
2021-07-08
2021-07-09
2021-07-10
2021-07-11
2021-07-12
2021-07-13
2021-07-14
2021-07-15
2021-07-16
2021-07-17
2021-07-18
2021-07-19
2021-07-20
2021-07-21
2021-07-22
2021-07-23
2021-07-24
2021-07-25
2021-07-26
2021-07-27
2021-07-28
2021-07-29
2021-07-30
2021-07-31
2021-08-01
2021-08-02
2021-08-03
2021-08-04
2021-08-05
2021-08-06
2021-08-07
2021-08-08
2021-08-09
2021-08-10
2021-08-11
2021-08-12
2021-08-13
2021-08-14
2021-08-15
2021-08-16
2021-08-17
2021-08-18
2021-08-19
2021-08-20
2021-08-21
2021-08-22
2021-08-23
2021-08-24
2021-08-25
2021-08-26
2021-08-27
2021-08-28
2021-08-29
2021-08-30
2021-08-31
2021-09-01
2021-09-02
2021-09-03
2021-09-04
2021-09-05
2021-09-06
2021-09-07
2021-09-08
2021-09-09
2021-09-10
2021-09-11
2021-09-12
2021-09-13
2021-09-14
2021-09-15
2021-09-16
2021-09-17
2021-09-18
2021-09-19
2021-09-20
2021-09-21
2021-09-22
2021-09-23
2021-09-24
2021-09-25
2021-09-26
2021-09-27
2021-09-28
2021-09-29
2021-09-30
2021-10-01
2021-10-02
2021-10-03
2021-10-04
2021-10-05
2021-10-06
2021-10-07
2021-10-08
2021-10-09
2021-10-10
2021-10-11
2021-10-12
2021-10-13
2021-10-14
2021-10-15
2021-10-16
2021-10-17
2021-10-18
2021-10-19
2021-10-20
2021-10-21
2021-10-22
2021-10-23
2021-10-24
2021-10-25
2021-10-26
2021-10-27
2021-10-28
2021-10-29
2021-10-30
2021-10-31
2021-11-01
2021-11-02
2021-11-03
2021-11-04
2021-11-05
2021-11-06
2021-11-07
2021-11-08
2021-11-09
2021-11-10
2021-11-11
2021-11-12
2021-11-13
2021-11-14
2021-11-15
2021-11-16
2021-11-17
2021-11-18
2021-11-19
2021-11-20
2021-11-21
2021-11-22
2021-11-23
2021-11-24
2021-11-25
2021-11-26
2021-11-27
2021-11-28
2021-11-29
2021-11-30
2021-12-01
2021-12-02
2021-12-03
2021-12-04
2021-12-05
2021-12-06
2021-12-07
2021-12-08
2021-12-09
2021-12-10
2021-12-11
2021-12-12
2021-12-13
2021-12-14
2021-12-15
2021-12-16
2021-12-17
2021-12-18
2021-12-19
2021-12-20
2021-12-21
2021-12-22
2021-12-23
2021-12-24
2021-12-25
2021-12-26
2021-12-27
2021-12-28
2021-12-29
2021-12-30
2021-12-31
2022-01-01
2022-01-02
2022-01-03

In [84]:
eth_data["snp_close"] = temp_snp_list

In [85]:
eth_data

,date,open,high,low,close,Volume USD,Volume ETH,pg_change_tomorrow,date_m,fed_rate,snp_close
0,2016-03-09 00:00:00,10.300000,11.20,10.10,11.200000,4.484300e+02,41.170000,4.910714,2016-03,0.36,1989.26
1,2016-03-10 00:00:00,11.200000,11.85,11.07,11.750000,1.209000e+01,1.030000,1.702128,2016-03,0.36,1989.57
2,2016-03-11 00:00:00,11.750000,11.95,11.75,11.950000,6.074200e+02,50.850000,8.117155,2016-03,0.36,2022.19
3,2016-03-12 00:00:00,11.950000,13.45,11.95,12.920000,3.057520e+03,237.780000,16.640867,2016-03,0.36,2022.19
4,2016-03-13 00:00:00,12.920000,15.07,12.92,15.070000,5.243670e+03,369.640000,-17.053749,2016-03,0.36,2022.19
...,...,...,...,...,...,...,...,...,...,...,...
2122,2021-12-30 00:00:00,3629.500000,3768.00,3586.30,3710.000000,8.040992e+07,21673.833371,-0.857143,2021-12,0.08,4778.73
2123,2021-12-31 00:00:00,3710.600000,3816.80,3622.00,3678.200000,1.034630e+08,28128.693285,2.416943,2021-12,0.08,4766.18
2124,2022-01-01 00:00:00,3677.600000,3777.90,3675.00,3767.100000,6.339609e+07,16828.885266,1.685647,2022-01,0.08,4766.18
2125,2022-01-02 00:00:00,3767.171482,3852.50,3717.60,3830.600000,4.829641e+07,12608.053668,-0.459032,2022-01,0.08,4766.18
2126,2022-01-03 00:00:00,3830.700000,3830.70,3810.80,3813.016312,1.203133e+06,315.533109,0.000000,2022-01,0.08,4796.56

#### Creating RSI and Moving average
###### Using 14 trailing days
###### RSI = 100 - 100/ (1 + RS)
###### RS = [(previous average gain) * 13 + current gain)/14] / [(previous average loss) * 13 + current loss)/14]

In [116]:
# Getting First Average Gain and Loss in order to get first RSI
list_closes = eth_data['close']
sum_losses = 0
sum_gains = 0
for i in range(1,15):
    change = ((list_closes[i] - list_closes[i-1])/list_closes[i-1]) * 100
    if change < 0 :
        sum_losses += change * -1
    else:
        sum_gains += change


first_average_gain = sum_gains/14
first_average_loss = sum_losses/14



first_rsi = 100 - (100/(1+(first_average_gain/first_average_loss)))

# (first_average_gain * 13 + current_gain) /14 / (first_average_loss * 13 + current_loss)/14

45.16510283048791
62.560676272514044
4.468619733751003
3.2260787736062793
58.07400679153751

In [117]:
# Keeping track of previous average gain and average loss
eth_data['rsi'] = np.nan
eth_data['cag'] = np.nan
eth_data['cal'] = np.nan
eth_data.at[14, 'rsi'] = first_rsi
eth_data.at[14, 'cag'] = first_average_gain
eth_data.at[14, 'cal'] = first_average_loss

In [119]:
print(eth_data.loc[14])

date                  2016-03-23 00:00:00
open                                11.37
high                                12.43
low                                  11.2
close                               12.43
Volume USD                        92226.8
Volume ETH                        7721.47
pg_change_tomorrow               -9.89541
date_m                            2016-03
fed_rate                             0.36
snp_close                         2036.71
rsi                                58.074
cag                               4.46862
cal                               3.22608
Name: 14.0, dtype: object

In [126]:
# Function to calculate RSI
def calc_rsi(cag, cal, close, prev_close):
    change = ((close - prev_close)/prev_close) * 100
    new_cag = 0
    new_cal = 0
    if change < 0:
        new_cag = ((cag * 13) + 0)/14
        new_cal = ((cal * 13) + (change * -1))/14
    else:
        new_cag = ((cag * 13) + change)/14
        new_cal = ((cal * 13) + 0)/14
        
    new_rsi = 100 - (100/(1 + (cag/cal)))
    
    return new_cag, new_cal, new_rsi

In [131]:
cag, cal, rsi = calc_rsi(3,4, 1345, 1356)
print(cag)
print(cal)
print(rsi)

2.7857142857142856
3.772229245680573
42.857142857142854

In [129]:
for i in range(15, len(eth_data)):
    cag = eth_data.at[i-1, 'cag']
    cal = eth_data.at[i-1, 'cal']
    close = eth_data.at[i, 'close']
    prev_close = eth_data.at[i-1, 'close']
    new_cag, new_cal, new_rsi = calc_rsi(cag, cal, close, prev_close)
    eth_data.at[i, 'rsi'] = new_rsi
    eth_data.at[i, 'cag'] = new_cag
    eth_data.at[i, 'cal'] = new_cal

In [133]:
# Checkpoint
eth_data.to_csv('eth_daily_main.csv')

In [140]:
# EMA Calculation
#  multiplier = (2 * [#of observations + 1])
# EMA = CLOSE * multiplier + EMA(i-1)*(1-multiplier)

# Step 1 - calculate SMA (first EMA) of first 14 days
list_closes = eth_data['close']
sum_closes = eth_data.loc[1:15,['close']].sum()
# for i in range(1,15):
#     change = ((list_closes[i] - list_closes[i-1])/list_closes[i-1]) * 100
#     if change < 0 :
#         sum_losses += change * -1
#     else:
#         sum_gains += change


# first_average_gain = sum_gains/14
# first_average_loss = sum_losses/14